Source: python-django-paging
Section: python
Priority: optional
Maintainer: David Cramer <dcramer@gmail.com>
Homepage: https://github.com/dcramer/django-paging
Bugs: https://github.com/dcramer/django-paging/issues
Build-Depends: debhelper, python-support

Package: python-django-paging
Architecture: all
Depends: ${python:Depends}, python-support, python-django (>= 1.1.0)
Provides: ${python:Provides}
Description: A simple and efficient paginator.
